:root{
    --colorbase : #3C308C;
    --degradado: linear-gradient(to bottom, #C2AFFE 30%, #B6D4FC);
    --colorinputs: #AEB9F2;

}

body, html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background: var(--degradado);
    height: 100%;
}

#cabecera{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #3C308C;
    color: white;
}

#logo-cabecera{
    height: 60px;
    filter: brightness(550%);
}

#espacio-logo-cabecera{
    margin-left: 85px;
}

#espacio-links-cabecera{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 90px;
    font-size: 14px;
    column-gap: 50px;
    text-decoration: underline;

}

#contenedor-principal{
    display: flex;
    flex-direction: column;
    background-color: #f2f3fa9c;
    margin: 50px 580px 72px 580px;
    height: 615px;
    width: 400px;
    row-gap: 20px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

#cabecera-inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    font-size: 30px;
    font-weight: 200;
    color: #3C308C;
    margin-top: 20px;
  
}

#espacio-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    row-gap: 20px;
}

#nombre-input, #usuario-input, #id-input, #correo-input, #fecha-input,#telefono-input,#contraseña-input{
    background-color: #aeb9f28f;
    border-radius: 10px;
    color:#1D1459;
    height: 30px;
    border: none;
    padding-left: 12px;
    width: 300px;
    padding-right: 10px;
    box-sizing: border-box;
} 

#nombre-input, #usuario-input, #id-input, #correo-input, #fecha-input,#telefono-input,#contraseña-input{
    outline: none;
}

#espacio-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
}

#boton-formulario{
    width: 180px;
    height: 36px;
    background-color: #666DF2;
    color: white;
    border-radius: 10px;
    border: none;
}

#boton-formulario:hover{
    background-color: #342885dc;
    transition: 0.7s;
}

a:hover{
    cursor: pointer;
}